<div class="container">
  <br>
  <h1>Pipes </h1>
  <br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{nombre}} </td>
        <td> uppercase </td>
        <td> {{nombre | uppercase}} </td>
      </tr>
      <tr>
        <td> {{nombre}} </td>
        <td> lowercase </td>
        <td> {{nombre | lowercase}} </td>
      </tr>
    </tbody>
  </table>

</div>
